body{
    font-family: 'Dancing Script', cursive;
}
section{
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 30px;
}

footer {
    height: 500px;

    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 700px;
    justify-content: space-around;
}

li{
    /* width: 200px; */
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0;
}

p{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 180px;
    height: 45px;
    background-color: grey;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button:hover{
    background-color: green;
}

.button:active{
    background-color: yellow;
    color: darkgray;
}

.socials{
    padding-bottom: 200px;
}

.logo{
    height: 75px;
    margin: 20px;
    border-radius: 20px;
}

.social{
    margin: 20px;
}

.sub-section{
    display: flex;
    text-align: justify;
    justify-content: space-around;
    padding: 80px;
}

h2{
    font-size: 40px;
}

.headshot{
    height: 350px;
    width: 220px;
    margin-top: 35px;
    margin-left: 30px;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.about-content
{
    text-align: justify;
}

.project-card{
    width: 1350px;
    height: 200px;
    box-shadow: 5px 5px 20px grey;
    margin-left: 5px;
    margin-top: 15px;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    padding-top: 10px;
}

.skills{
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 35px;
    justify-content: space-around;
}